
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.span-class{
    color: orange;
}

section{
    display: flex;
    margin-bottom: 10px;
}
.fast-div{
    width: 50%;
    padding: 5%;
}
.fast-div img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: bold;
    color: palegoldenrod;
    padding: 10px 40px;
    border-radius: 5px;
}


.fast-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    

}
.section-two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}